# Node
node_modules/
npm-debug.log*

# Python
__pycache__/
*.pyc
.venv/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Build outputs
dist/
build/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py